@import '../../theme/variables.scss';

.jdg-header {
	align-items: center;
	display: flex;
	height: min-content;
	padding: 12px 24px;
	transition: 0.2s ease background-color;

	.jdg-container-center {
		align-items: center;
		display: grid;
		grid-template-columns: 1fr auto auto;
		grid-template-rows: repeat(2, auto);
	}

	.jdg-nav {
		grid-column: 2;
	}

	.jdg-theme-toggle {
		grid-column: 3;
	}

	&-name-container {
		grid-column: 1;
	}

	&-name-container:hover,
	&-name-container:focus {
		text-decoration: none;
	}

	&-name-heading {
		font: $font-heading-primary;
	}

	&-name-sub-heading {
		font: $font-heading-quaternary-emphasis;
		letter-spacing: 1.3px;
	}

	:root[data-theme='jdg-dark-mode'] & {
		background-color: var(--color-neutral-0);
	}

	@media (max-width: 850px) {
		&-name-heading {
			font-size: 36px;
		}
	}

	@media (max-width: $mobile) {
		padding: 24px 24px 8px;
		// Handle rearrangment of nav on mobile
		.jdg-container-center {
			grid-template-columns: 1fr auto;
		}

		.jdg-theme-toggle {
			grid-column: 2;
			align-self: start;
		}

		.jdg-nav {
			justify-self: center;
			grid-column: 1 / -1;
			grid-row: 2;
			width: 100%;

			&-menu {
				> * {
					flex-grow: 1;
				}
			}
		}

		&-name-heading {
			font: $font-heading-tertiary;
		}

		&-name-sub-heading {
			font-size: 16px;
		}
	}
}
