{
	"branches": [
		"main"
	],
	"plugins": [
		[
			"@semantic-release/commit-analyzer",
			{
				"preset": "angular",
				"releaseRules": [
					{
						"type": "feature",
						"release": "minor"
					},
					{
						"type": "refactor",
						"release": "patch"
					},
					{
						"type": "chore",
						"release": "patch"
					}
				],
				"parserOpts": {
					"noteKeywords": [
						"BREAKING CHANGE",
						"BREAKING CHANGES",
						"BREAKING"
					]
				}
			}
		],
		[
			"@semantic-release/release-notes-generator",
			{
				"preset": "angular",
				"parserOpts": {
					"noteKeywords": [
						"BREAKING CHANGE",
						"BREAKING CHANGES",
						"BREAKING"
					]
				},
				"writerOpts": {
					"commitsSort": [
						"subject",
						"scope"
					]
				},
				"presetConfig": {
					"types": [
						{
							"type": "feat",
							"section": "Features"
						},
						{
							"type": "feature",
							"section": "Features"
						},
						{
							"type": "fix",
							"section": "Bug Fixes"
						},
						{
							"type": "hotfix",
							"section": "Bug Fixes"
						},
						{
							"type": "docs",
							"section": "Docs"
						},
						{
							"type": "refactor",
							"section": "Refactoring"
						},
						{
							"type": "perf",
							"section": "Performance Improvements"
						},
						{
							"type": "ci",
							"section": "CI/CD Changes"
						},
						{
							"type": "test",
							"section": "Tests"
						}
					]
				}
			}
		],
		"@semantic-release/changelog",
		{
			"changelogFile": "CHANGELOG.md"
		},
		"@semantic-release/github"
	]
}
