@import '../../theme/variables.scss';

.jdg-footer {
	background: linear-gradient(to top, var(--color-neutral-0), var(--color-background));
	font-family: 'Catamaran', sans-serif;
	position: fixed;
	bottom: 0;
	height: $footer-height-desktop;
	left: 0;
	margin-top: -$footer-height-desktop;
	right: 0;
	transition: 0.2s ease background-image, 0.2s ease background-color;
	z-index: 10; // Thus ensuring it is on top of everything except modal stuff

	.jdg-container-center {
		align-items: flex-end;
		display: flex;
		height: 100%;
		padding: 0 24px 24px;
		justify-content: space-between;
	}

	&-attribution {
		font-size: 12px;
	}

	&-contact {
		align-items: center;
		display: flex;
		gap: 16px;
	}

	:root[data-theme='jdg-light-mode'] & {
		background: var(--color-background);
	}

	@media (max-width: $mobile) {
		height: $footer-height-mobile;
		margin-top: -$footer-height-mobile;

		.jdg-container-center {
			align-items: center;
			justify-content: flex-start;
			flex-direction: column-reverse;
			gap: 16px;
		}
	}
}
