@import './variables.scss';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

html,
body,
#app {
	height: 100%;
	min-height: 100vh;
}

:root {
	background: $color-background;
	color: $color-text-primary;
	font: $font-paragraph-secondary;
	transition: 0.2s ease background-color, 0.2s ease color;
}

a {
	color: $color-text-primary;
	font: inherit;
	text-decoration: none;

	&:active,
	&:hover {
		text-decoration: underline $color-accent-primary 1px;
	}

	&:visited {
		color: $color-neutral-7;
	}

	:root[data-theme='jdg-light-mode'] &:visited {
		color: $color-neutral-1;
	}
}

// Remove default outline for inputs on some browsers
input:focus,
select:focus,
textarea:focus {
	outline: none;
}
