@import './variables.scss';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

html,
body,
#app {
	height: 100%;
	min-height: 100vh;
}

:root {
	background: var(--color-background);
	color: var(--color-text-primary);
	font: $font-paragraph-secondary;
	transition: 0.2s ease background-color, 0.2s ease color;

	&[data-lockscroll='true'] {
		overflow: hidden;
	}
}

a {
	color: var(--color-text-primary);
	font: inherit;
	text-decoration: none;

	&:active,
	&:hover {
		text-decoration: underline var(--color-accent-primary) 1px;
	}

	&:visited {
		color: var(--color-neutral-7);
	}

	:root[data-theme='jdg-light-mode'] &:visited {
		color: var(--color-neutral-1);
	}
}

// Remove default outline for inputs on some browsers
input:focus,
select:focus,
textarea:focus {
	outline: none;
}
