:root {
	// Neutral and accent vars defined for whole project
	--color-neutral-0: #0d0d0d;
	--color-neutral-1: #1e1e1e;
	--color-neutral-2: #313131;
	--color-neutral-3: #626161;
	--color-neutral-4: #7d7c7c;
	--color-neutral-5: #9e9e9e;
	--color-neutral-6: #cbcbcb;
	--color-neutral-7: #d5d5d5;
	--color-neutral-8: #fff;

	--color-theme-primary-0: #2b1931;
	--color-theme-primary-1: #4e2e58;
	--color-theme-primary-2: #70427e;
	--color-theme-primary-3: #9457a7;
	--color-theme-primary-4: #b47cc6;

	--color-accent-yellow: #cebc81;
	--color-accent-mauve: #b19f9e;
	--color-accent-peach: #cf8681;
	--color-accent-plum: #a16e83;
	--color-accent-forest-green: #479761;

	// Static opacity adjusted values
	--color-neutral-black-opacity_20: rgba(0, 0, 0, 0.2);
	--color-neutral-black-opacity_40: rgba(0, 0, 0, 0.4);
	--color-neutral-black-opacity_60: rgba(0, 0, 0, 0.6);
	--color-neutral-black-opacity_80: rgba(0, 0, 0, 0.8);

	--color-neutral-white-opacity_20: rgba(255, 255, 255, 0.2);
	--color-neutral-white-opacity_40: rgba(255, 255, 255, 0.4);
	--color-neutral-white-opacity_60: rgba(255, 255, 255, 0.6);
	--color-neutral-white-opacity_80: rgba(255, 255, 255, 0.8);

	// Declare vars and default to dark theme
	--color-background: var(--color-neutral-1);
	--color-accent-primary: var(--color-accent-mauve);
	--color-accent-secondary: var(--color-accent-plum);
	--color-text-primary: var(--color-neutral-7);
	--color-text-secondary: var(--color-neutral-6);
	--color-text-tertiary: var(--color-neutral-5);
}

:root[data-theme='jdg-light-mode'] {
	--color-background: var(--color-neutral-8);
	--color-accent-primary: var(--color-accent-plum);
	--color-accent-secondary: var(--color-accent-mauve);
	--color-text-primary: var(--color-neutral-0);
	--color-text-secondary: var(--color-neutral-1);
	--color-text-tertiary: var(--color-neutral-2);
}

:root[data-theme='jdg-dark-mode'] {
	--color-background: var(--color-neutral-1);
	--color-accent-primary: var(--color-accent-mauve);
	--color-accent-secondary: var(--color-accent-plum);
	--color-text-primary: var(--color-neutral-7);
	--color-text-secondary: var(--color-neutral-6);
	--color-text-tertiary: var(--color-neutral-5);
}
