.jdg-admin {
	&-container {
		display: flex;
	}

	&-sidebar {
		flex: 0 0 30%;
	}

	&-images-images-to-update {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	&-image-open-link {
		border: 2px solid transparent;
		display: inline-flex;
		height: 200px;
		width: 200px;

		img {
			display: block;
			height: 100%;
			object-fit: cover;
			opacity: 60%;
			width: 100%;
		}

		// When link route is active
		&-active,
		&:hover {
			border-color: var(--color-accent-primary);
			box-shadow: 1px 1px 3px var(--color-accent-primary), -1px -1px 3px var(--color-accent-primary);

			img {
				opacity: 100%;
			}
		}
	}
}
