@import '../theme/variables.scss';

// Vars
$home-text-container-width: 620px;

// Home page
.jdg-main {
	.jdg-home-image {
		border-radius: 50%;
		display: block;
		flex: 1 0;
		max-width: 400px;
		min-width: 250px;
		overflow: hidden;
		position: relative;

		img {
			border: 2px solid var(--color-accent-primary);
			border-radius: 50%;
			box-shadow: -3px -1px 5px 5px var(--color-neutral-white-opacity_40);
			width: 100%;

			:root[data-theme='jdg-light-mode'] & {
				box-shadow: -3px -1px 5px 5px var(--color-neutral-black-opacity_40);
			}
		}

		figcaption {
			background-color: var(--color-neutral-black-opacity_40);
			bottom: 10%;
			opacity: 0;
			padding: 12px;
			position: absolute;
			left: 0;
			right: 0;
			text-align: center;
			transition: opacity 0.5s ease;

			:root[data-theme='jdg-light-mode'] & {
				color: var(--color-neutral-10);
			}
		}

		&:hover figcaption,
		&:focus figcaption {
			opacity: 1;
		}
	}

	.jdg-home-text-container {
		display: flex;
		flex: 1 1;
		flex-direction: column;
		gap: 16px;
		max-width: $home-text-container-width;

		h2 {
			font: $font-heading-primary;
			font-size: 64px;
			line-height: 115%;
		}

		a {
			align-items: center;
			display: flex;
			gap: 14px;
			font-size: 24px;
			line-height: 24px;
			margin-top: 24px;
		}
	}

	.jdg-home-container-center {
		align-items: center;
		display: flex;
		gap: 48px;
		justify-content: center;
		padding: 100px 24px;

		// Handle animation cases
		// TODO: write a mixin to do this more succinctly
		&-hide-text {
			.jdg-home-text-container {
				max-width: 0;
				opacity: 0;
			}
		}

		&-hide-image {
			.jdg-home-image-container {
				opacity: 0;
			}
		}

		&-no-animation {
			.jdg-home-image-container {
				animation: fade_in 2s ease;
			}
			.jdg-home-text-container {
				animation: fade_in 2s ease;
				max-width: $home-text-container-width;
			}
		}

		&-show-animation {
			.jdg-home-image-container {
				animation: fade_in linear 2.5s;
			}
			.jdg-home-text-container {
				animation: fade_in_text cubic-bezier(0.34, 1.56, 0.41, 1) 2.5s 1s;
			}
		}
	}

	@media (max-width: 1100px) {
		.jdg-home-text-container {
			flex: 0 1;
		}
	}

	@media (max-width: $tablet) {
		.jdg-home-text-container {
			h2 {
				font-size: 48px;
			}
		}
	}

	@media (max-width: $mobile) {
		.jdg-container-center {
			flex-direction: column;
			padding: 48px 24px 200px;
		}

		.jdg-home-image-container {
			position: sticky;
		}

		.jdg-home-text-container {
			animation-delay: 0s;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 24px;
			justify-content: center;

			h2 {
				text-align: center;
			}
		}
	}
}

// Contact page
.jdg-main {
	.jdg-contact-container-center {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 32px;
		justify-content: center;
		max-width: 600px;
		padding: 24px 0 80px;
	}
}

// Work page
.jdg-main {
	.jdg-work-container-center {
		display: flex;
		flex-direction: column;
		gap: 42px;
		max-width: 800px;
		padding: 48px 24px 140px;
	}

	.jdg-work-heading {
		text-align: center;
		font: $font-heading-secondary;
		margin-bottom: 16px;
	}

	.jdg-work-about-container {
		margin: 0 auto;
		width: 100%;
	}

	.jdg-work-work-container {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
}

// Animation keyframes
@keyframes fade_in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade_in_text {
	0% {
		max-width: 0;
		opacity: 0;
	}
	50% {
		opacity: 0;
		max-width: $home-text-container-width;
	}
	100% {
		opacity: 1;
		max-width: $home-text-container-width;
	}
}
