@import '../theme/variables.scss';

$post-container-max-width: 650px;
$post-container-padding: 24px;

.jdg-page {
	display: flex;
	flex-direction: column;

	// Main animation cases
	.jdg-main {
		&-enter {
			opacity: 0;
			transform: scale(1.2);
		}

		&-enter-active {
			opacity: 1;
			transform: scale(1);
			transition: opacity 0.3s, transform 0.3s cubic-bezier(0.175, 0.885, 0.82, 1.2);
		}

		&-exit {
			opacity: 0;
			transform: scale(1);
		}

		&-exit-active {
			opacity: 0;
			transform: scale(0.8);
			transition: opacity 0.3s, transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		}
	}

	// Home
	.jdg-home-container-center {
		display: flex;
		flex-direction: column;
		gap: 48px;
		max-width: 600px;
		padding: 48px;

		.jdg-home-posts-container,
		.jdg-home-bookmarks-container {
			display: flex;
			flex-direction: column;

			h2 {
				font: $font-heading-secondary;
				margin-bottom: 24px;
			}

			&-inner {
				max-height: 400px;
				overflow-y: scroll;
				display: flex;
				flex: 1;
				flex-direction: column;
			}
		}

		.jdg-home-post-link,
		.jdg-home-bookmark-link {
			border: 2px transparent solid;
			color: var(--color-neutral-0);
			display: flex;
			gap: 16px;
			padding: 16px;
			text-decoration: none;
			width: 100%;

			&:visited {
				color: var(--color-neutral-0);
			}

			&:hover,
			&:focus {
				border: 2px var(--color-text-primary) solid;
				filter: brightness(1.1);
				transition: border, filter 0.2s ease-in-out;
			}
		}

		.jdg-home-posts-link-all {
			align-items: center;
			align-self: center;
			display: flex;
			gap: 12px;
			margin-top: 24px;
			font: $font-heading-tertiary;
		}

		.jdg-home-post-link {
			&:nth-of-type(4n + 1) {
				background-color: var(--color-accent-peach);
			}

			&:nth-of-type(4n + 2) {
				background-color: var(--color-accent-lime);
			}

			&:nth-of-type(4n + 3) {
				background-color: var(--color-accent-orange);
			}

			&:nth-of-type(4n + 4) {
				background-color: var(--color-accent-yellow);
			}

			&-image {
				object-fit: cover;
				height: 80px;
				width: 80px;
			}

			&-text {
				// text-align: right;
				display: flex;
				flex-direction: column;
				width: 100%;

				&-heading {
					font: $font-heading-tertiary;
					margin-bottom: 16px;
				}

				&-subheading {
					font: $font-paragraph-secondary;
				}

				&-date {
					font-size: 12px;
				}
			}
		}

		.jdg-home-bookmark-link {
			flex-direction: column;

			&:nth-of-type(4n + 1) {
				background-color: var(--color-accent-lavender);
			}

			&:nth-of-type(4n + 2) {
				background-color: var(--color-accent-plum);
			}

			&:nth-of-type(4n + 3) {
				background-color: var(--color-accent-cherry);
			}

			&:nth-of-type(4n + 4) {
				background-color: var(--color-accent-mauve);
			}
		}
	}

	// bookmarks
	.jdg-bookmarks-container-center {
		display: flex;
		flex-direction: column;
		gap: 48px;
		max-width: 600px;
		padding: 48px;

		h2 {
			font: $font-heading-secondary;
			margin-bottom: 32px;
		}

		.jdg-bookmarks-container-inner {
			display: flex;
			flex-direction: column;
			display: flex;
			flex: 1;
			flex-direction: column;
			overflow-y: scroll;
		}

		.jdg-bookmarks-bookmark-link {
			border: 2px transparent solid;
			color: var(--color-neutral-0);
			display: flex;
			flex-direction: column;
			gap: 16px;
			padding: 16px;
			text-decoration: none;
			width: 100%;

			&:visited {
				color: var(--color-neutral-0);
			}

			&:hover,
			&:focus {
				border: 2px var(--color-text-primary) solid;
				filter: brightness(1.1);
				transition: border, filter 0.2s ease-in-out;
			}
		}

		.jdg-bookmarks-bookmark-link {
			&:nth-of-type(4n + 1) {
				background-color: var(--color-accent-lavender);
			}

			&:nth-of-type(4n + 2) {
				background-color: var(--color-accent-plum);
			}

			&:nth-of-type(4n + 3) {
				background-color: var(--color-accent-cherry);
			}

			&:nth-of-type(4n + 4) {
				background-color: var(--color-accent-mauve);
			}

			&-text {
				display: flex;
				flex-direction: column;
				width: 100%;

				&-heading {
					font: $font-heading-tertiary;
					margin-bottom: 16px;
				}

				&-subheading {
					font: $font-paragraph-secondary;
				}
			}
		}
	}

	// Posts
	.jdg-posts-container-center {
		display: flex;
		flex-direction: column;
		gap: 48px;
		max-width: 600px;
		padding: 48px;

		h2 {
			font: $font-heading-secondary;
			margin-bottom: 32px;
		}

		.jdg-posts-container-inner {
			display: flex;
			flex-direction: column;
			display: flex;
			flex: 1;
			flex-direction: column;
			overflow-y: scroll;
		}

		.jdg-posts-post-link {
			border: 2px transparent solid;
			color: var(--color-neutral-0);
			display: flex;
			gap: 16px;
			padding: 16px;
			text-decoration: none;
			width: 100%;

			&:visited {
				color: var(--color-neutral-0);
			}

			&:hover,
			&:focus {
				border: 2px var(--color-text-primary) solid;
				filter: brightness(1.1);
				transition: border, filter 0.2s ease-in-out;
			}
		}

		.jdg-posts-post-link {
			&:nth-of-type(4n + 1) {
				background-color: var(--color-accent-peach);
			}

			&:nth-of-type(4n + 2) {
				background-color: var(--color-accent-lime);
			}

			&:nth-of-type(4n + 3) {
				background-color: var(--color-accent-orange);
			}

			&:nth-of-type(4n + 4) {
				background-color: var(--color-accent-yellow);
			}

			&-image {
				object-fit: cover;
				height: 80px;
				width: 80px;
			}

			&-text {
				// text-align: right;
				display: flex;
				flex-direction: column;
				width: 100%;

				&-heading {
					font: $font-heading-tertiary;
					margin-bottom: 16px;
				}

				&-subheading {
					font: $font-paragraph-secondary;
				}

				&-date {
					font-size: 12px;
				}
			}
		}
	}

	// Post
	&-post {
		.jdg-container-center-post-header {
			margin-bottom: 80px;

			.jdg-post-header-image {
				img {
					height: auto;
					width: 100%;
				}
			}

			.jdg-post-header-text {
				position: absolute;
				background-color: var(--color-neutral-black-opacity_80);
				bottom: -50px;
				color: var(--color-neutral-9);
				display: flex;
				flex-direction: column;
				left: 50%;
				transform: translateX(-50%);
				margin: 0 auto;
				max-width: $post-container-max-width;
				padding: $post-container-padding;
				width: 100%;

				&-heading {
					font: $font-heading-primary;
					margin-bottom: 8px;
				}

				&-sub-heading {
					font: $font-heading-quaternary-emphasis;
					margin-bottom: 32px;
				}

				&-info {
					display: flex;
					gap: 18px;
					justify-content: space-between;
				}
			}
		}

		.jdg-container-center-post-main {
			display: flex;
			flex-direction: column;
			max-width: $post-container-max-width;
			padding-bottom: 100px;

			h2,
			h3,
			h4,
			h5,
			h6 {
				text-align: center;
			}

			img {
				height: auto;
				width: 100%;
			}

			p:not(p:has(img)) {
				padding: $post-container-padding;
			}
		}

		// MEDIA QUERY - POST
		@media (max-width: $mobile) {
			.jdg-container-center-post-header {
				.jdg-post-header-text {
					width: calc(100% - ($post-container-padding * 2));
				}
			}

			.jdg-container-center-post-main {
				padding: 0 $post-container-padding;
			}
		}

		@media (max-width: 500px) {
			.jdg-container-center-post-header {
				.jdg-post-header-text {
					&-heading {
						font: $font-heading-tertiary;
					}

					&-sub-heading,
					&-info {
						font-size: 16px;
						font-size: 16px;
					}

					&-date {
						font-size: 12px;
					}
				}
			}
		}
	}

	// Contact
	.jdg-contact-container-center {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 32px;
		justify-content: center;
		max-width: 600px;
		padding: 24px 0;
	}

	.jdg-contact-success-container-center {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 24px;
		padding: 48px;

		h3 {
			font: $font-heading-secondary;
		}

		p {
			font: $font-paragraph-primary;
		}

		a {
			font-size: 18px;
		}
	}

	// Login
	.jdg-signin-container-center {
		display: flex;
		flex-direction: column;
		gap: 24px;
		max-width: 600px;
		padding: 80px 0;
		width: 90%;

		h2 {
			font: $font-heading-secondary;
			text-align: center;
		}
	}

	.jdg-signin-form-container {
		background-color: var(--color-neutral-black-opacity_40);
		border-radius: 12px;
		padding: 48px;
	}

	.jdg-signin-form-switch-container {
		height: auto;
		margin: 0 auto 24px;
		overflow: hidden;
		position: relative;
		width: 100%;

		input[type='checkbox'] {
			height: 0;
			opacity: 0%;
		}

		.jdg-signin-form-switch {
			height: 100%;

			label {
				background-color: var(--color-neutral-2);
				border: 2px transparent solid;
				border-radius: 12px;
				cursor: pointer;
				display: block;
				height: 60px;
				margin-top: -20px;
				position: relative;
				width: 100%;
			}

			input {
				& + label::before,
				& + label::after {
					align-items: center;
					background-color: var(--color-neutral-0);
					display: flex;
					justify-content: center;
					height: 50px;
					position: absolute;
					overflow: hidden;
					top: 3px;
				}

				& + label::before {
					border-radius: 12px 0 0 12px;
					content: 'Sign Up';
					left: 3px;
					opacity: 100%;
					right: 50%;
				}

				& + label::after {
					content: 'Sign In';
					border-radius: 0 12px 12px 0;
					left: 50%;
					opacity: 0%;
					right: 50%;
				}

				&:checked {
					& + label::before {
						opacity: 0%;
						left: 50%;
					}

					& + label::after {
						opacity: 100%;
						right: 3px;
					}
				}

				&:focus + label {
					border-color: var(--color-accent-primary);
				}
			}
		}
	}

	.jdg-signin-form-signin {
		fieldset {
			border: unset;
			display: flex;
			flex-direction: column;
			gap: 12px;
			padding: unset;
			margin-bottom: 24px;
		}

		.jdg-button {
			margin: 32px 0 16px;
			width: 100%;
		}
	}
}

// Admin
.jdg-admin {
	&-container {
		display: flex;
	}

	&-sidebar {
		flex: 0 0 30%;
	}

	&-images-images-to-update {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	&-image-open-link {
		border: 2px solid transparent;
		display: inline-flex;
		height: 200px;
		width: 200px;

		img {
			display: block;
			height: 100%;
			object-fit: cover;
			opacity: 60%;
			width: 100%;
		}

		// When link route is active
		&-active,
		&:hover {
			border-color: var(--color-accent-primary);
			box-shadow: 1px 1px 3px var(--color-accent-primary), -1px -1px 3px var(--color-accent-primary);

			img {
				opacity: 100%;
			}
		}
	}
}

// Home page animation keyframes
@keyframes fade_in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
