@import '../theme/variables.scss';

// Vars
$home-text-container-width: 620px;

// Main animation cases
.jdg-main {
	&-enter {
		opacity: 0;
		transform: scale(1.2);
	}

	&-enter-active {
		opacity: 1;
		transform: scale(1);
		transition: opacity 0.3s, transform 0.3s cubic-bezier(0.175, 0.885, 0.82, 1.2);
	}

	&-exit {
		opacity: 0;
		transform: scale(1);
	}

	&-exit-active {
		opacity: 0;
		transform: scale(0.8);
		transition: opacity 0.3s, transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}
}

// Home page
.jdg-main {
	.jdg-home-image {
		border-radius: 50%;
		display: block;
		flex: 1 0;
		max-width: 400px;
		min-width: 250px;
		overflow: hidden;
		position: relative;

		img {
			border: 2px solid var(--color-accent-primary);
			border-radius: 50%;
			box-shadow: -3px -1px 5px 5px var(--color-neutral-white-opacity_40);
			width: 100%;

			:root[data-theme='jdg-light-mode'] & {
				box-shadow: -3px -1px 5px 5px var(--color-neutral-black-opacity_40);
			}
		}

		figcaption {
			background-color: var(--color-theme-primary-3-opacity_50);
			bottom: 10%;
			opacity: 0;
			padding: 12px;
			position: absolute;
			left: 0;
			right: 0;
			text-align: center;
			transition: opacity 0.5s ease;

			:root[data-theme='jdg-dark-mode'] & {
				color: var(--color-neutral-0);
			}
		}

		&:hover figcaption,
		&:focus figcaption {
			opacity: 1;
		}
	}

	.jdg-home-text-container {
		display: flex;
		flex: 1 1;
		flex-direction: column;
		gap: 16px;
		max-width: $home-text-container-width;

		h2 {
			font: $font-heading-primary;
			font-size: 64px;
			line-height: 115%;
		}

		a {
			align-items: center;
			display: flex;
			gap: 14px;
			font-size: 24px;
			line-height: 24px;
			margin-top: 24px;
		}
	}

	.jdg-home-container-center {
		align-items: center;
		display: flex;
		gap: 48px;
		justify-content: center;
		padding: 100px 24px;

		// Handle animation cases
		&-hide-text {
			.jdg-home-text-container {
				max-width: 0;
				opacity: 0;
			}
		}

		&-hide-image {
			.jdg-home-image-container {
				opacity: 0;
			}
		}

		&-no-animation {
			.jdg-home-image-container {
				animation: fade_in 2s ease;
			}
			.jdg-home-text-container {
				animation: fade_in 2s ease;
				max-width: $home-text-container-width;
			}
		}

		&-show-animation {
			.jdg-home-image-container {
				animation: fade_in linear 2.5s;
			}
			.jdg-home-text-container {
				animation: fade_in_text cubic-bezier(0.34, 1.56, 0.41, 1) 2.5s 1s;
			}
		}
	}

	@media (max-width: 1100px) {
		.jdg-home-text-container {
			flex: 0 1;
		}
	}

	@media (max-width: $tablet) {
		.jdg-home-text-container {
			h2 {
				font-size: 48px;
			}
		}
	}

	@media (max-width: $mobile) {
		.jdg-container-center {
			flex-direction: column;
			padding: 48px 24px;
		}

		.jdg-home-image-container {
			position: sticky;
		}

		.jdg-home-text-container {
			animation-delay: 0s;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 24px;
			justify-content: center;

			h2 {
				text-align: center;
			}
		}
	}
}

// Contact page
.jdg-main {
	.jdg-contact-container-center {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 32px;
		justify-content: center;
		max-width: 600px;
		padding: 24px 0;
	}
}

.jdg-main {
	.jdg-contact-success-container-center {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 24px;
		padding: 48px;

		h3 {
			font: $font-heading-secondary;
		}

		p {
			font: $font-paragraph-primary;
		}

		a {
			font-size: 18px;
		}
	}
}

// Work page
.jdg-main {
	.jdg-work-container-center {
		display: flex;
		flex-direction: column;
		gap: 42px;
		max-width: 800px;
		padding: 48px 24px;
	}

	.jdg-work-heading {
		text-align: center;
		font: $font-heading-secondary;
		margin-bottom: 16px;
	}

	.jdg-work-about-container {
		margin: 0 auto;
		width: 100%;
	}

	.jdg-work-work-container {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
}

// Login
.jdg-main {
	.jdg-signin-container-center {
		display: flex;
		flex-direction: column;
		gap: 24px;
		max-width: 600px;
		padding: 80px 0;
		width: 90%;

		h2 {
			font: $font-heading-secondary;
			text-align: center;
		}
	}

	.jdg-signin-form-container {
		background-color: var(--color-neutral-black-opacity_40);
		border-radius: 12px;
		padding: 48px;
	}

	.jdg-signin-form-switch-container {
		height: auto;
		margin: 0 auto 24px;
		overflow: hidden;
		position: relative;
		width: 100%;

		input[type='checkbox'] {
			height: 0;
			opacity: 0%;
		}

		.jdg-signin-form-switch {
			height: 100%;

			label {
				background-color: var(--color-neutral-2);
				border: 2px transparent solid;
				border-radius: 12px;
				cursor: pointer;
				display: block;
				height: 60px;
				margin-top: -20px;
				position: relative;
				width: 100%;
			}

			input {
				& + label::before,
				& + label::after {
					align-items: center;
					background-color: var(--color-neutral-0);
					display: flex;
					justify-content: center;
					height: 50px;
					position: absolute;
					overflow: hidden;
					top: 3px;
				}

				& + label::before {
					border-radius: 12px 0 0 12px;
					content: 'Sign Up';
					left: 3px;
					opacity: 100%;
					right: 50%;
				}

				& + label::after {
					content: 'Sign In';
					border-radius: 0 12px 12px 0;
					left: 50%;
					opacity: 0%;
					right: 50%;
				}

				&:checked {
					& + label::before {
						opacity: 0%;
						left: 50%;
					}

					& + label::after {
						opacity: 100%;
						right: 3px;
					}
				}

				&:focus + label {
					border-color: var(--color-accent-primary);
				}
			}
		}
	}

	.jdg-signin-form-signin {
		fieldset {
			border: unset;
			display: flex;
			flex-direction: column;
			gap: 12px;
			padding: unset;
			margin-bottom: 24px;
		}

		.jdg-button {
			margin: 32px 0 16px;
			width: 100%;
		}
	}
}

// Blog
.jdg-main {
	.jdg-blog-container-center {
		padding: 80px 24px;
	}
}

// Admin
.jdg-admin {
	&-container {
		display: flex;
	}

	&-sidebar {
		flex: 0 0 30%;
	}
}

// Home page animation keyframes
@keyframes fade_in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade_in_text {
	0% {
		max-width: 0;
		opacity: 0;
	}
	50% {
		opacity: 0;
		max-width: $home-text-container-width;
	}
	100% {
		opacity: 1;
		max-width: $home-text-container-width;
	}
}
