@import '../theme/themes.scss';

.jdg-page {
	.jdg-posts-container-center {
		display: flex;
		flex-direction: column;
		gap: 24px;
		max-width: 600px;
		padding: 48px;

		h2 {
			font: var(--font-heading-secondary);
		}

		.jdg-posts-container-inner {
			display: flex;
			flex-direction: column;
			display: flex;
			flex: 1;
			flex-direction: column;
			overflow-y: scroll;
		}

		.jdg-posts-post-link {
			border: 2px transparent solid;
			color: var(--color-neutral-0);
			display: flex;
			gap: 16px;
			padding: 16px;
			text-decoration: none;
			width: 100%;

			&:visited {
				color: var(--color-neutral-0);
			}

			&:hover,
			&:focus {
				border: 2px var(--color-text-primary) solid;
				filter: brightness(1.1);
				transition: border, filter 0.2s ease-in-out;
			}
		}

		.jdg-posts-post-link {
			&:nth-of-type(4n + 1) {
				background-color: var(--color-accent-peach);
			}

			&:nth-of-type(4n + 2) {
				background-color: var(--color-accent-lime);
			}

			&:nth-of-type(4n + 3) {
				background-color: var(--color-accent-orange);
			}

			&:nth-of-type(4n + 4) {
				background-color: var(--color-accent-yellow);
			}

			&-image {
				object-fit: cover;
				height: 80px;
				width: 80px;
			}

			&-text {
				// text-align: right;
				display: flex;
				flex-direction: column;
				width: 100%;

				&-heading {
					font: var(--font-heading-tertiary);
					margin-bottom: 16px;
				}

				&-subheading {
					font: var(--font-paragraph-secondary);
				}

				&-date {
					font-size: 12px;
				}
			}
		}
	}

	@media (max-width: $mobile) {
		.jdg-posts-container-center {
			padding: 48px 24px;
		}
	}
}
