@import '../../styles/theme/variables.scss';

.jdg-contact-form-container {
	height: 100%;
	position: relative;
	width: 100%;
}

.jdg-contact-form {
	display: flex;
	flex-direction: column;
	padding: 12px;
	position: relative;
	gap: 36px;

	&-input-fields {
		border: 2px solid var(--color-text-primary);
		border-radius: 16px;
		display: flex;
		flex-direction: column;
		gap: 16px;
		max-width: 600px;
		padding: 18px;
		width: 100%;

		legend {
			background-color: var(--color-accent-primary);
			font-size: 36px;
			font: $font-heading-secondary;
			border-radius: 12px;
			color: var(--color-neutral-1);
			padding: 12px;
			transform: skewX(5deg);

			:root[data-theme='jdg-light-mode'] & {
				color: var(--color-neutral-10);
			}
		}
	}

	label {
		align-self: flex-end;
	}

	input,
	textarea {
		background-color: var(--color-neutral-2);
		border: 1px solid var(--color-text-primary);
		border-radius: 8px;
		color: inherit;

		&:focus {
			border-color: var(--color-theme-primary-1);
		}

		:root[data-theme='jdg-light-mode'] & {
			background-color: var(--color-neutral-8);

			&:focus {
				border-color: var(--color-theme-primary-4);
			}
		}
	}

	textarea {
		min-height: 150px;
		padding: 8px;
		width: 100%;
	}

	input[type='text'] {
		height: 36px;
		padding: 0 8px;
	}

	button {
		background-color: transparent;
		border: 2px solid var(--color-text-primary);
		border-radius: 16px;
		color: var(--color-text-primary);
		cursor: pointer;
		font: 'Catamaran';
		font-size: 18px;
		letter-spacing: 1.4px;
		padding: 12px 16px;
	}

	&-response {
		align-items: center;
		border: 2px solid var(--color-text-primary);
		border-radius: 24px;
		background-color: var(--color-background);
		bottom: 0;
		display: flex;
		justify-content: center;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 2;
	}
}
