@import '../../styles/theme/variables.scss';

.jdg-contact-form-container {
	height: 100%;
	position: relative;
	width: 100%;
}

.jdg-contact-form {
	display: flex;
	flex-direction: column;
	padding: 42px;
	position: relative;
	gap: 36px;

	&-input-fields {
		border: 2px solid var(--color-text-primary);
		border-radius: 16px;
		display: flex;
		flex-direction: column;
		gap: 16px;
		max-width: 600px;
		padding: 18px;
		width: 100%;

		label {
			font-size: 16px;
		}

		fieldset {
			border: none;
			display: flex;
			gap: 8px;
			padding: unset;
			width: 100%;

			.jdg-input {
				flex: 1 1 40%;
			}

			.jdg-input-name_middle {
				width: 20%;
			}
		}

		legend {
			// TODO: apply this to heading instead
			background-color: var(--color-theme-primary-1);
			font-size: 36px;
			font: $font-heading-secondary;
			border-radius: 12px;
			padding: 12px;
			transform: skewX(5deg);

			:root[data-theme='jdg-light-mode'] & {
				background-color: var(--color-theme-primary-4);
				color: var(--color-neutral-10);
			}
		}
	}
}
