@import '../../styles/theme/variables.scss';

.jdg-container-center {
	min-height: calc(100% - $footer-height-desktop);
	margin: 0 auto;
	max-width: $max-width;
	position: relative;
	width: 100%;

	&-disabled {
		cursor: no-drop;
		opacity: 30%;
	}
}
