@import '../../styles/theme/variables.scss';

.jdg-modal {
	opacity: 0;
	transition: opacity 0.4s ease;

	// Transition states
	&-entering {
		opacity: 0;

		.jdg-modal-container {
			transform: scale(0);
		}
	}

	&-entered {
		opacity: 1;

		.jdg-modal-container {
			transform: scale(1);
			transition: transform 0.4s ease;
		}
	}

	&-exiting {
		.jdg-modal-container {
			transform: scale(0);
		}
	}

	&-exited {
		opacity: 0;
	}

	&-backdrop {
		align-items: center;
		background-color: var(--color-neutral-black-opacity_60);
		display: flex;
		height: 100vh;
		justify-content: center;
		left: 0;
		overflow: hidden;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 99;
	}

	&-container {
		position: relative;
		transition: transform 0.4s ease;
	}

	&-icon-container {
		align-items: center;
		background: var(--color-neutral-white-opacity_80);
		border-radius: 50%;
		cursor: pointer;
		display: flex;
		height: 40px;
		justify-content: center;
		position: absolute;
		right: -18px;
		top: -18px;
		width: 40px;
		z-index: 101;

		svg {
			color: var(--color-neutral-1);
		}

		&:hover,
		&:focus {
			background: var(--color-theme-primary-1);

			svg {
				color: var(--color-neutral-9);
			}
		}

		:root[data-theme='jdg-light-mode'] & {
			background: var(--color-neutral-black-opacity_80);

			&:hover,
			&:focus {
				background: var(--color-neutral-7);
			}
		}
	}

	&-content {
		background-color: var(--color-background);
		border-radius: 16px;
		height: 90vh;
		overflow-y: auto;
		padding: 48px;
		width: calc($mobile - 96px); // Subtract 2x padding
		z-index: 100;
	}

	@media (max-width: 650px) {
		&-content {
			border-radius: unset;
			height: 100vh;
			max-height: none;
			padding: 32px;
			width: 100vw;
		}
	}

	@media (max-width: 475px) {
		&-container {
			margin: 16px;
		}

		&-content {
			padding: 24px;
		}

		&-icon-container {
			right: 10px;
			top: 6px;
		}
	}
}
