@import '../../styles/theme/variables.scss';
// TODO: add :focus styling

.jdg-theme-toggle {
	&-button {
		align-items: center;
		background: unset;
		border: 0.5px var(--color-text-primary) solid;
		border-radius: 50%;
		box-shadow: unset;
		color: var(--color-text-primary);
		display: flex;
		height: 40px;
		justify-content: center;
		position: relative;
		width: 40px;

		&:hover,
		&:focus {
			background-color: var(--color-accent-lavender-opacity_20);
			border-color: var(--color-accent-lavender-opacity_20);
			transition: border-color, background-color 300ms ease-in;

			:root[data-theme='jdg-light-mode'] & {
				background-color: var(--color-accent-peach-opacity_20);
				border-color: var(--color-accent-peach-opacity_20);
			}
		}

		&-icons-container {
			overflow-y: hidden;
			position: relative;
		}

		&-icon-container {
			height: 24px;
			width: 24px;

			&-enter {
				transform: translateY(-100%);
			}
			&-enter-active {
				transform: translateY(0%);
			}
			&-enter-done {
				transform: translateY(0%);
			}

			&-exit {
				transform: translateY(0%);
			}
			&-exit-active {
				transform: translateY(100%);
			}
			&-exit-active-done {
				transform: translateY(-100%);
			}

			&-enter-active,
			&-exit-active {
				transition: transform cubic-bezier(0.075, 0.82, 0.565, 0.64) 1000ms;
			}
		}
	}
}
