.jdg-theme-toggle {
	&-button {
		align-items: center;
		background: unset;
		border: 0.5px var(--color-text-primary) solid;
		border-radius: 50%;
		box-shadow: unset;
		color: var(--color-text-primary);
		cursor: pointer;
		display: flex;
		height: 40px;
		justify-content: center;
		position: relative;
		width: 40px;

		&:hover,
		&:focus {
			background-image: linear-gradient(
				to top,
				var(--color-accent-lavender-opacity_20),
				transparent
			);
			border-color: var(--color-accent-lavender-opacity_20);
			border-top-color: transparent;
			transition: border-color, background-image 300ms ease-in;

			:root[data-theme='jdg-light-mode'] & {
				background-image: linear-gradient(
					to top,
					var(--color-accent-peach-opacity_20),
					transparent
				);
				border-color: var(--color-accent-peach-opacity_20);
				border-top-color: transparent;
				transition: border-color, background-image 300ms ease-in;
			}
		}

		&-icons-container {
			overflow-y: hidden;
			position: relative;
		}

		&-icon-container {
			height: 24px;
			width: 24px;

			&-enter {
				transform: translateY(-100%);
			}
			&-enter-active {
				transform: translateY(0%);
			}
			&-enter-done {
				transform: translateY(0%);
			}

			&-exit {
				transform: translateY(0%);
			}
			&-exit-active {
				transform: translateY(100%);
			}
			&-exit-active-done {
				transform: translateY(-100%);
			}

			&-enter-active,
			&-exit-active {
				transition: transform cubic-bezier(0.05, 0.71, 0.37, 0.4) 300ms;
			}
		}
	}
}
