@import './variables.scss';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

html,
body,
#app {
	height: 100%;
	min-height: 100vh;
}

// Remove default outline and border for inputs and links
input:focus,
select:focus,
textarea:focus,
a:focus,
button:focus,
*[role='button']:focus {
	outline: none;
	border: none;
}

// Remove default styles on autofill selected input
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
	// border: 1px solid transparent;
	// -webkit-text-fill-color: var(--color-text-primary);
	// -webkit-box-shadow: 0 0 0px 1000px #000 inset;
	transition: background-color 600000000s 0s, color 600000000s 0s,
		-webkit-text-fill-color 600000000s 0s;
}

// Globals on the root
:root {
	background: var(--color-background);
	color: var(--color-text-primary);
	font: $font-paragraph-secondary;
	transition: 0.2s ease background-color, 0.2s ease color;

	// When modals are open
	&[data-lockscroll='true'] {
		overflow: hidden;
	}
}

// Anchors
a {
	color: var(--color-text-primary);
	font: inherit;
	text-decoration: none;

	&:hover,
	&:active,
	&:focus {
		text-decoration: underline var(--color-theme-primary-1) 3px;
		text-underline-offset: 6px;

		:root[data-theme='jdg-light-mode'] & {
			text-decoration-color: var(--color-theme-primary-4);
		}
	}

	&:visited {
		color: var(--color-neutral-7);

		:root[data-theme='jdg-light-mode'] & {
			color: var(--color-neutral-1);
		}
	}
}
