*,
*::before,
*::after {
	box-sizing: border-box;
	font: inherit;
	margin: 0;
}

html,
body,
#app {
	height: 100%;
}

// Globals on the root
:root {
	background: var(--color-background);
	color: var(--color-text-primary);
	font: var(--font-paragraph-secondary);
	transition: 0.2s ease background-color, 0.2s ease color;

	// When modals are open
	&[data-lockscroll='true'] {
		overflow: hidden;
	}
}

.jdg-page {
	height: 100%;
}

// Remove default outline and border for inputs and links
a:focus-visible,
input:focus-visible,
select:focus-visible,
button:focus-visible,
*[role='button']:focus-visible {
	outline: none;
}

// Remove default styles on autofill selected input
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
	// TODO: Find better solution, this is weird and hacky.
	transition: background-color 600000000s 0s, color 600000000s 0s,
		-webkit-text-fill-color 600000000s 0s !important;
}

// Anchors
a {
	color: var(--color-text-primary);
	font: inherit;
	text-decoration: none;

	&:hover,
	&:active,
	&:focus {
		text-decoration: underline var(--color-theme-primary-1) 3px;
		text-underline-offset: 6px;

		:root[data-theme='jdg-light-mode'] & {
			text-decoration-color: var(--color-theme-primary-4);
		}
	}

	&:visited {
		color: var(--color-neutral-7);

		:root[data-theme='jdg-light-mode'] & {
			color: var(--color-neutral-1);
		}
	}
}

// For buttons not styled as buttons
.jdg-button-unset {
	background: unset;
	border: unset;
	box-shadow: unset;
	color: var(--color-text-primary);
	cursor: pointer;
}

// Lists
ul,
ol {
	margin-block-start: unset;
	margin-block-end: unset;
	margin-inline-start: unset;
	margin-inline-end: unset;
	padding-inline-start: unset;
}

// Boundaries
.jdg-error-boundary {
	padding: 48px;
	align-self: center;
	justify-self: center;
	max-width: 600p;
	width: max-content;

	h2 {
		font: var(--font-heading-secondary);
	}

	button {
		cursor: pointer;
		text-decoration: underline 3px var(--color-theme-primary-4);
		text-underline-offset: 6px;
	}
}

// Main page styles and base page anims
.jdg-page {
	display: flex;
	flex-direction: column;

	// Main animation cases
	.jdg-main {
		&-enter {
			opacity: 0;
			transform: scale(1.2);
		}

		&-enter-active {
			opacity: 1;
			transform: scale(1);
			transition: opacity 0.3s, transform 0.3s cubic-bezier(0.175, 0.885, 0.82, 1.2);
		}

		&-exit {
			opacity: 0;
			transform: scale(1);
		}

		&-exit-active {
			opacity: 0;
			transform: scale(0.8);
			transition: opacity 0.3s, transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		}
	}

	// Test page
	// Test
	.jdg-test-container-center {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
