@import './variables.scss';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

html,
body,
#app {
	height: 100%;
	min-height: 100vh;
}

// Remove default outline and border for inputs and links
input:focus,
select:focus,
textarea:focus,
a:focus,
button:focus,
*[role='button']:focus {
	outline: none;
	border: none;
}

:root {
	background: var(--color-background);
	color: var(--color-text-primary);
	font: $font-paragraph-secondary;
	transition: 0.2s ease background-color, 0.2s ease color;

	&[data-lockscroll='true'] {
		overflow: hidden;
	}
}

a {
	color: var(--color-text-primary);
	font: inherit;
	text-decoration: none;

	&:active,
	&:hover,
	&:focus {
		text-decoration: underline var(--color-theme-primary-4) 3px;
		text-underline-offset: 6px;
	}

	&:visited {
		color: var(--color-neutral-7);
	}

	:root[data-theme='jdg-light-mode'] &:visited {
		color: var(--color-neutral-1);
	}
}
